@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Oswald&family=Playfair+Display&family=Roboto+Mono:wght@300;500&family=Roboto:wght@500&display=swap");
*{
    margin: 0;
    padding: 0;
    color: whitesmoke;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
    
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(0 0 16);
    align-items: center;
}

h1{
    padding: 10px;
    text-align: center;
    font-size: 5vmin;
   width: 98%;
    background: rgb(15 7 33 / 30%);
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    backdrop-filter: blur(11.5px);
    -webkit-backdrop-filter: blur(11.5px);
    border-radius: 14px;
    border: 1px solid rgb(50 12 80 / 18%);
}

form{
    padding: 1rem;
    background: rgb(15 7 33 / 30%);
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    backdrop-filter: blur(11.5px);
    -webkit-backdrop-filter: blur(11.5px);
    border-radius: 14px;
    border: 1px solid rgb(50 12 80 / 18%);
    width: 34%;
    /* margin: 30px auto; */
    min-height: 60vh;
    border-radius: 10px;
    display: flex;
   overflow: hidden;
    flex-direction: column;
}

label{
    padding: 5px 0;
    font-size: 1.3em;
}

input[type=email], input[type=password], input[type=text]{
    border: none;
    background-color: rgb(10 10 70);
    padding: 0.6rem;
    border-radius: 5px;
    outline: none;
}


select{
    outline: none;
    border: 1px solid rgb(10 10 70);
    padding: 0.6rem;
    border-radius: 5px;
    background-color: rgb(0 0 16);
    cursor: pointer;
}
option{
    outline: none;
    border: 1px solid rgb(10 10 70);
    padding: 0.6rem;
    border-radius: 5px;
    background-color: rgb(0 0 16);
    cursor: pointer;
}

small{
  float: right;
  color: red;
}

button, input[type=submit]{
    outline: none;
    border: 1px solid rgb(10 10 70);
    padding: 0.6rem;
    background-color: rgb(0 0 16);
    border-radius: 5px;
    cursor: pointer;
}
button:hover, input[type=submit]:hover{
   background-color: #311948;
   transform-origin: left;
   transition: all 0.2s ease-in-out;
}


.modal{
    position: absolute;
    z-index: 1;
    width: 20rem;
    height: 10rem;
    background-color: #9b9bb88a;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: none;
}

.msg{
    padding: 3rem;
    text-align: center;
}

.open{
    display: block;
}

h2{
    text-align: center;
   
}

.selectTheme{
  font-size: 2.3rem;
}
#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 96%;
    font-size: 0.8em;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 2px;
  }
  
  #customers tr:nth-child(even){background-color: #25043f;}
  
  #customers tr:hover {background-color: rgba(69, 26, 128, 0.252);}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #401866;
    color: white;
  }

  .success-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }

  .success-box{
    padding: 4rem;
    text-align: center;
    font-size: 5vmin;
    /* width: 98%; */
    background: rgb(15 7 33 / 30%);
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    backdrop-filter: blur(11.5px);
    -webkit-backdrop-filter: blur(11.5px);
    border-radius: 14px;
    border: 1px solid rgb(50 12 80 / 18%);
  }

  input:focus{
    border: 1px solid #8d6ea4;
  }

/* registration form */
ol{
  display: flex;
  gap: 4px;
  flex-direction: column;
  padding: 0.6rem;
  list-style: none;
}

li > input[type=text]{
  padding: 0.3rem;
  width: 100%;
  outline: 1px inherit;
}

.dropdown{
  margin: 10px 0;
}
input[type="checkbox" i]{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ddd;
  float: right;
  position: relative;
  right: 12px;
  top: 10px;
}
input[type="checkbox"]::after{
    content: "check box";
    position: absolute;
    width: max-content;
    right: 24px;
}

input[type="checkbox" i]::before{
  content: "Select this if you are not participating in this";
  position: absolute;
  width: max-content;
top: -25px;
background: rgba(210, 62, 21, 0.57);
border-radius: 5px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6px);
-webkit-backdrop-filter: blur(6px);
border: 1px solid rgba(184, 42, 35, 0.48);
padding: 0.1rem;
visibility: hidden;
right: 0;
}



input[type="checkbox" i]:hover::before{
  visibility: visible;
}

.instructions{
  margin: 10px 0;
  color: red;
  margin: 10px 0;
    color: red;
    /* outline: 1px solid gray; */
    padding: 6px;
    border: 1px solid rgb(10 10 70);
}

input:disabled{
  filter: grayscale(70%);
}


.lab{
  margin-top: 20px;
}

.e-head{
  text-align: center;
  color: rgba(223, 22, 22, 0.966);
  font-size: 1.4rem;
  text-decoration: underline;
}
.mt{
  margin-top: 25px;
}

@media screen and (max-width: 768px){
    
  form{
    width: 100%;
  }
  .success-container{
    width: calc(100vw - 10vw);
  }
  .success-box{
    padding: 1rem;
  }
  li > input[type=text]{
    padding: 0.3rem;
    width:100%;
  }
  input[type="checkbox" i]::before{
    right: 0;
  }
}

