doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Register
    style 
      include ./index.css
      
  body 


  h1 Mes College of Arts and Commerce
  form(action='/api/register', method='post', autocomplete="off")
    h2.selectTheme Registration
    .instructions ⚠️ *If Not participating in any particular event Please select through checkbox infront of event names!
    label(for='email') Email:
    input#email(type='email', name='email',placeholder='Enter Your Email',autocomplete="off", required)

    

    label(for='college') College Name:
    - let options = ["Carmel College for Women, Salcete","Don Bosco College Margao",'Shree Damodar College of Commerce and Economics', 'Dhempe College of Arts & Science', 'Dempo College of Commerce & Economics',  "Dnyanprassarak Mandal's College Assagao" , "Don Bosco Collegein Panaji" , "Goa College Of Architecture", "P.E.S's R.S.N COLLEGE OF ARTS AND SCIENCE",  "GVM's GGPR College of Commerce & Economics", "Saraswat Vidyalaya's Sridora Caculo College of Commerce", "Rosary College of Commerce and Arts", "Goa Engineering College", "St. Xavier's College Mapusa", "Parvatibai Chowgule College Arts And Science", "Fr. Agnel College of Arts and Commerce Pillar", "Padre Conceicao College of Engineering", "V.M. Salgaocar College of Law" , "Government College of Arts, Science and Commerce, Khandola", "Nirmala Institute of Education", "Shree Rayeshwar Institute of Engineering & Information Technology"]

    select#college(name='college' required)
      <option value="" disabled selected>Select your College</option>
      each option in options
        - let disabled = shouldBeDisabled(option)
        option(value=option, disabled=disabled)= option

    h3.e-head.mt Cultural Events     

    .lab
     label(for='theme') 1.Fashion Flix:
     input#toggle_fashion_show(type='checkbox')
  


    
    
    
    .dropdown
     
  
     ol  
      li 
         input.fashion_show(type="text",name="fashion_show[]", placeholder="member 1",autocomplete="off", required)
      li 
         input.fashion_show(type="text",name="fashion_show[]", placeholder="member 2",autocomplete="off", required)
      li 
         input.fashion_show(type="text",name="fashion_show[]", placeholder="member 3",autocomplete="off", required)
      li 
         input.fashion_show(type="text",name="fashion_show[]", placeholder="member 4",autocomplete="off", required)
      li 
         input.fashion_show(type="text",name="fashion_show[]", placeholder="member 5",autocomplete="off",)
         small *mininum 4 participants

    .dropdown
     input#toggle_group_dance(type='checkbox')
     label(for="group_dance") 2. Group Dance: 
     ol  
      li 
        input.group_dance(type="text", name="group_dance[]", placeholder="member 1",autocomplete="off", required)
      li 
        input.group_dance(type="text", name="group_dance[]", placeholder="member 2",autocomplete="off", required)
      li 
        input.group_dance(type="text", name="group_dance[]", placeholder="member 3",autocomplete="off", required)
      li 
        input.group_dance(type="text", name="group_dance[]", placeholder="member 4",autocomplete="off", required)
      li 
        input.group_dance(type="text", name="group_dance[]", placeholder="member 5",autocomplete="off",)
        small *mininum 4 participants    
         
    .dropdown
     input#toggle_mr_ms(type='checkbox')
     label(for="mr_ms") 3. Mr & Miss Genesis: 
     ol  
      li 
         input.mr_ms(type="text",name="mr_ms[]", placeholder="member 1",autocomplete="off", required)
      li 
         input.mr_ms(type="text",name="mr_ms[]", placeholder="member 2",autocomplete="off", required)
    
    
    .dropdown
     input#toggle_tug_of_war(type='checkbox')
     label(for="tug_of_war") 4. Tug of War: 
     ol  
      li 
         input.tug_of_war(type="text",name="tug_of_war[]", placeholder="member 1",autocomplete="off", required)
      li 
         input.tug_of_war(type="text",name="tug_of_war[]", placeholder="member 2",autocomplete="off", required)
      li
         input.tug_of_war(type="text",name="tug_of_war[]", placeholder="member 3",autocomplete="off", required)
      li 
         input.tug_of_war(type="text",name="tug_of_war[]", placeholder="member 4",autocomplete="off", required)
      li 
         input.tug_of_war(type="text",name="tug_of_war[]", placeholder="member 5",autocomplete="off",)
         small *mininum 4 participants
    
    .dropdown
     input#toggle_surprice_event(type='checkbox')
     label(for="surprice_event") 5. Surprise Event: 
     ol  
      li 
         input.surprice_event(type="text",name="surprice_event", placeholder="member 1",autocomplete="off", required)
   
    
    .dropdown
     input#toggle_war_of_word(type='checkbox')
     label(for="war_of_word") 6. War of Words: 
     ol  
      li 
         input.war_of_word(type="text",name="war_of_word", placeholder="member 1",autocomplete="off", required)
    
    
    .dropdown
     input#toggle_third_degree(type='checkbox')
     label(for="third_degree") 7.Third Degree: 
     ol  
      li 
         input.third_degree(type="text",name="third_degree", placeholder="member 1",autocomplete="off", required)


    .dropdown
     input#toggle_meme_making(type='checkbox')
     label(for="meme_making") 8.Meme Making: 
     ol  
      li 
         input.meme_making(type="text",name="meme_making", placeholder="member 1",autocomplete="off", required)
    
    h3.e-head Technical Events  
    .dropdown
     input#toggle_code_hunt(type='checkbox')
     label(for="code_hunt") 1. Code Hunt: 
     ol  
      li 
         input.code_hunt(type="text",name="code_hunt[]", placeholder="member 1",autocomplete="off", required)
      li 
         input.code_hunt(type="text",name="code_hunt[]", placeholder="member 2",autocomplete="off", required)
      li 
         input.code_hunt(type="text",name="code_hunt[]", placeholder="member 3",autocomplete="off", required)
      li 
         input.code_hunt(type="text",name="code_hunt[]", placeholder="member 4",autocomplete="off", required)
    
    .dropdown
     input#toggle_blind_coding(type='checkbox')
     label(for="blind_coding") 2. Blind Coding: 
     ol  
      li 
         input.blind_coding(type="text",name="blind_coding[]", placeholder="member 1",autocomplete="off", required)
      li 
         input.blind_coding(type="text",name="blind_coding[]", placeholder="member 2",autocomplete="off", required)
   
    
    .dropdown
     input#toggle_photography(type='checkbox')
     label(for="photography") 3.Photography: 
     ol  
      li 
         input.photography(type="text",name="photography", placeholder="member 1",autocomplete="off", required)
    

    .dropdown
     input#toggle_cinematic_creation(type='checkbox')
     label(for="cinematic_creation") 4.Cinematic Creation: 
     ol  
      li 
         input.cinematic_creation(type="text",name="cinematic_creation[]", placeholder="member 1",autocomplete="off", required)
      li 
         input.cinematic_creation(type="text",name="cinematic_creation[]", placeholder="member 2",autocomplete="off", required)
      li 
         input.cinematic_creation(type="text",name="cinematic_creation[]", placeholder="member 3",autocomplete="off", required)
      li 
         input.cinematic_creation(type="text",name="cinematic_creation[]", placeholder="member 4",autocomplete="off", required)
   
    
    //- .dropdown
    //-  input#toggle_viral_it(type='checkbox')
    //-  label(for="viral_it") 5. Viral It: 
    //-  ol  
    //-   li 
    //-      input(type="text", placeholder="member 1")
    //-   li 
    //-      input(type="text", placeholder="member 2")
    //-   li 
    //-      input(type="text", placeholder="member 3")
    //-   li 
    //-      input(type="text", placeholder="member 4")

    h3.e-head Gaming Events  
    .dropdown
     input#toggle_cs_go(type='checkbox')
     label(for="cs_go") 1. CS-GO: 
     ol  
      li 
         input.cs_go(type="text",name="cs_go[]", placeholder="member 1",autocomplete="off")
      li 
         input.cs_go(type="text",name="cs_go[]", placeholder="member 2",autocomplete="off")
      li 
         input.cs_go(type="text",name="cs_go[]", placeholder="member 3",autocomplete="off")
      li 
         input.cs_go(type="text",name="cs_go[]", placeholder="member 4",autocomplete="off")
      li 
         input.cs_go(type="text",name="cs_go[]", placeholder="member 5",autocomplete="off")
    
    .dropdown
     input#toggle_nfs(type='checkbox')
     label(for="nfs") 2. NFS: 
     ol  
      li 
         input.nfs(type="text",name="nfs", placeholder="member 1",autocomplete="off")

    
    .dropdown
     input#toggle_fifa(type='checkbox')
     label(for="fifa") 3. FIFA 2023: 
     ol  
      li 
         input.fifa(type="text",name="fifa", placeholder="member 1",autocomplete="off",)
    
    
     

    button#themeBtn(type='submit') Submit
    
      -function shouldBeDisabled(option) {  const disabledOptions = colleges;  return disabledOptions.includes(option) }
      //- -function themeshouldBeDisabled(theme) {  const disabledOptions = Ethemes;  return disabledOptions.includes(theme) }
      script.
       function toggleInputs(selector) {
       const inputs = document.querySelectorAll(`.${selector}`);
       inputs.forEach(input => {
       input.disabled = !input.disabled;
       });
       }

       const toggleInputsCheckbox = document.getElementById('toggle_group_dance');
       toggleInputsCheckbox.addEventListener('change', () => {
       toggleInputs('group_dance');
       });

       const toggleInputsfashion_show = document.getElementById('toggle_fashion_show');
       toggleInputsfashion_show.addEventListener('change', () => {
       toggleInputs('fashion_show');
       });

       const toggleInputsmr_ms = document.getElementById('toggle_mr_ms');
       toggleInputsmr_ms.addEventListener('change', () => {
       toggleInputs('mr_ms');
       });

       const toggleInputstug_of_war = document.getElementById('toggle_tug_of_war');
       toggleInputstug_of_war.addEventListener('change', () => {
       toggleInputs('tug_of_war');
       });

       const toggleInputssurprice_event = document.getElementById('toggle_surprice_event');
       toggleInputssurprice_event.addEventListener('change', () => {
       toggleInputs('surprice_event');
       });

       const toggleInputswar_of_word = document.getElementById('toggle_war_of_word');
       toggleInputswar_of_word.addEventListener('change', () => {
       toggleInputs('war_of_word');
       });

       const toggleInputsthird_degree = document.getElementById('toggle_third_degree');
       toggleInputsthird_degree.addEventListener('change', () => {
       toggleInputs('third_degree');
       });
       const toggleInputsmeme_making = document.getElementById('toggle_meme_making');
       toggleInputsmeme_making.addEventListener('change', () => {
       toggleInputs('meme_making');
       });
       const toggleInputscode_hunt = document.getElementById('toggle_code_hunt');
       toggleInputscode_hunt.addEventListener('change', () => {
       toggleInputs('code_hunt');
       });
       const toggleInputsblind_coding = document.getElementById('toggle_blind_coding');
       toggleInputsblind_coding.addEventListener('change', () => {
       toggleInputs('blind_coding');
       });
       const toggleInputsphotography = document.getElementById('toggle_photography');
       toggleInputsphotography.addEventListener('change', () => {
       toggleInputs('photography');
       });
       const toggleInputscinematic_creation = document.getElementById('toggle_cinematic_creation');
       toggleInputscinematic_creation.addEventListener('change', () => {
       toggleInputs('cinematic_creation');
       });
       const toggleInputscs_go = document.getElementById('toggle_cs_go');
       toggleInputscs_go.addEventListener('change', () => {
       toggleInputs('cs_go');
       });
       const toggleInputsnfs = document.getElementById('toggle_nfs');
       toggleInputsnfs.addEventListener('change', () => {
       toggleInputs('nfs');
       });
       const toggleInputsfifa = document.getElementById('toggle_fifa');
       toggleInputsfifa.addEventListener('change', () => {
       toggleInputs('fifa');
       });

        //- script(src="modal.js") 








       //-  - let themes = ["Wednesday", "Squid Game", 'Vikings', "Peaky Blinders", "Qala", 'Emily in Paris', 'The School of Good & Evil', 'Lucifer', 'Titans', 'Naruto', 'Demon Slayer', 'Justice league', 'Chainsaw man', 'Death note', 'Tokyo Revengers', 'Jujutsu kaisen']

       //-  select#theme.fashion_show(name='theme' required)
       //-    <option value="" disabled selected>Select your Theme</option>
       //-    each theme in themes
       //-      - let disabled = themeshouldBeDisabled(theme)
       //-      option(value=theme, disabled=disabled)= theme






